.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure video is behind content */
}

.content {
    position: relative;
    z-index: 1; 
    color: #6edff3;
    font-family: 'YourFontName';
    font-size: 30px;
    text-align: center; /* Center-align text horizontally */
    width: 100%; /* Ensure the content spans the entire width */
    height: 100%; /* Ensure the content spans the entire height */
    display: flex; /* Use flexbox to center the gameName div */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    align-content: center; /* Center vertically */
    flex-direction: column; /* Stack the elements vertically */
    background-color: rgba(57, 229, 241, 0.5); /* Add a white background with 80% opacity */
    padding: 20px; /* Add padding around the content */
    box-sizing: border-box; /* Include padding in the width and height */
    
}


.content h1 {
    font-size: 60px;
    color: #7fe5f3;
    
}

.start-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 24px;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #12ff9c;
    transform: scale(1.1);
}

